.custom-map-control-button {
  @apply text-xl;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled-button:hover {
  background-color: #fff;
}
