.module {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.module-unlocked {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.module::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/sample-selfie.webp");
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(20px);
}

.module-unlocked::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/sample-selfie.webp");
  background-position: center;
  background-repeat: no-repeat;
}

.module-inside {
  position: relative;
}
