---
import "@/styles/globals.css"
import "../styles/locked-page.css"

import Layout from "../layouts/Layout.astro"
import { Loader2 } from "lucide-react"

const backendUrl = import.meta.env.PUBLIC_BACKEND_URL
---

<Layout>
  <main>
    <form
      class='flex flex-col gap-12 md:gap-10'
      id='sample-form'
      action={`${backendUrl}/api/location`}
      method='post'
      enctype='multipart/form-data'>
      <div>
        <h1
          class='scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl hover:underline'>
          <a href=`${import.meta.env.SITE}`> Konulu Konum</a>
        </h1>
        <p class='leading-7 [&:not(:first-child)]:mt-6 text-2xl'>
          3 basit adımda fotoğraflarınızı ve videolarınızı <b
            >yalnızca belirli bir konumda</b
          > açılacak şekilde kilitleyin.
        </p>
      </div>

      <div>
        <h2
          class='mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0'>
          1. Fotoğraf Seçimi
        </h2>
        <p class='leading-7 [&:not(:first-child)]:mt-6 text-2xl'>
          Bir fotoğraf seçin.
        </p>
        <div class='grid w-full max-w-sm items-center gap-1.5 mt-4'>
          <input
            type='file'
            name='selected-photo'
            id='photo-selector'
            class='p-2 border border-gray rounded-lg file:bg-inherit file:border-0'
            required
          />
          <p class='px-2 text-lg text-muted-foreground'>
            Galerinizden bir fotoğraf seçin.
          </p>
        </div>
      </div>

      <div>
        <h2
          class='mt-10 scroll-m-20 border-b pb-2 font-semibold tracking-tight transition-colors first:mt-0 text-3xl'>
          2. Fotoğrafın Açılacağı Konum
        </h2>
        <p class='leading-7 [&:not(:first-child)]:mt-6 text-2xl'>
          Haritadan bir nokta seçin.
        </p>
        <div>
          <div
            id='map'
            class='w-full h-[450px] rounded mt-6 transition-colors ease-in-out border-2 duration-300'>
          </div>
          <p class='text-lg text-muted-foreground mt-2'>
            Bağlantıyı gönderdiğiniz kişi bu konuma gittiği zaman seçtiğiniz
            fotoğrafı görebilecek.
          </p>

          <p class='text-2xl mt-4 mb-2'>
            <span class='font-semibold'>Seçilen Konum:</span>
          </p>

          <p
            class='text-xl transition ease-in-out duration-700'
            id='coordinates'>
            Henüz konum seçmediniz, konum seçmek için haritadaki bir noktaya
            basınız.
          </p>

          <p
            class='text-lg text-muted-foreground mt-2'
            id='location-selected-confirmation'>
          </p>
        </div>
        <input name='geolocation' id='geolocation-input' hidden />
        <input
          name='geolocation-diameter'
          id='geolocation-diameter-input'
          hidden
        />
      </div>

      <div>
        <h2
          class='mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0'>
          3. Fotoğraf Açıklaması
        </h2>
        <div class='grid w-full max-w-md items-center gap-4 mt-4'>
          <div class='grid w-full items-center gap-2'>
            <label for='location-author' class='text-xl'> Gönderici: </label>
            <input
              id='location-author'
              name='author'
              placeholder='İsminizi buraya yazınız.'
              class='text-lg py-2 px-3 border border-gray rounded-lg placeholder:text-slate-400'
              required
            />
          </div>
          <div class='grid w-full items-center gap-2'>
            <label for='location-description' class='text-xl'>
              Açıklama:
            </label>
            <textarea
              placeholder='Açıklamanızı buraya yazınız.'
              name='description'
              id='location-description'
              class='text-lg py-2 px-3 border border-gray rounded-lg placeholder:text-slate-400 resize-none'
              required></textarea>
            <p class='text-lg text-muted-foreground'>
              Bir açıklama girin, yüklediğiniz içeriğin üzerine bu metin
              görünecek.
            </p>
          </div>
        </div>
        <hr class='my-4' />
        <div class='flex gap-2 my-6 items-center mt-4'>
          <input type='checkbox' id='kvkk' class='w-6 h-6' required />
          <label
            for='kvkk'
            class='text-xl font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70'>
            Konulu Konum'u KVKK kapsamında dava etmeyeceğimi onaylıyorum.
          </label>
        </div>

        <button
          class='w-full text-lg bg-slate-900 text-white p-2 rounded-lg inline-flex justify-center items-center gap-2'
          type='submit'
          id='submit-button'>
          <Loader2 id='submit-button-spinner' className='animate-spin hidden' />
          Bağlantıyı Oluştur
        </button>
      </div>
    </form>
    <script src='../scripts/initSelectionMap.ts'></script>
    <script src='../scripts/index.ts'></script>
  </main>
</Layout>
