---
import '@/styles/globals.css';
import Layout from '../layouts/Layout.astro';
import { Button } from '@/components/ui/button';
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';

import { CalendarIcon } from '@radix-ui/react-icons';

import '../styles/locked-page.css';
import LocationButton from '@/components/LockedContent';
---

<Layout>
  <main class="flex flex-col gap-3 my-4 items-center">
    <Card className="w-full">
      <CardHeader>
        <CardTitle>Abdurrahman</CardTitle>
      </CardHeader>
      <CardContent>
        <p>Aşağıdaki konuma gitmen gerekiyor.</p>
      </CardContent>
      <CardFooter className="gap-2">
        <CalendarIcon />
        <p>5 saat önce</p>
      </CardFooter>
    </Card>

    <div id="map" class="w-full h-[450px]"></div>

    <LocationButton client:load />
  </main>

  <Button className="w-full">Paylaş</Button>
  <script src="../scripts/initMap.js"></script>
</Layout>
