---
import "leaflet/dist/leaflet.css"
import "toastify-js/src/toastify.css"
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/jpg' href='/konulu-konum-logo.jpg' />
    <meta property='og:title' content='Konulu Konum' />
    <meta property='og:description' content='Sevdiklerinizi şaşırtın!' />
    <meta property='og:url' content='https://konulukonum.com' />
    <meta
      property='og:image'
      content='https://konulukonum.com/konulu-konum-logo.jpg'
    />
    <meta name='twitter:card' content='summary' />
    <meta name='generator' content={Astro.generator} />
    <title>Konulu Konum</title>
  </head>
  <body class='container my-8'>
    <slot />
  </body>
</html>
<style is:global></style>
